html {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  vertical-align:baseline;
}

.header {
  zoom: 1;
  display: inline-block;
  line-height: normal;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 17px;
  min-height: 70px;
  padding-bottom: 36;
  z-index: 100;
  background-color: #fff;
}

@media (max-width: 1024px)
header {
    height: auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 1024px)
body, input {
    font-size: 14px;
    line-height: 17px;
}

div {
  display: block;
}

body, input {
    font: normal 20px/23px Times New Roman,Arial,sans-serif;
}

@media (max-width: 1024px) and (min-width: 700px)
.block {
    padding-left: 10px;
    padding-right: 10px;
}

.body {
  position: relative;
  word-spacing: -0.1em;
  line-height: 1;
}

img {
  display: block;
}

.block {
  padding-left: 11px;
  padding-right: 11px;
}

.main {
  display: table;
  padding-bottom: 32px;
  float: left;
}

@media (max-width: 1024px)
.main-content {
    font-size: 22px;
    line-height: 22px;
}

.wrap-main-content {
  clear: both;
  margin-top: 36px;
  width: 100%;
}

i,
em {
  font-style: italic;
}

a {
    text-decoration: none;
}
